<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>呆瓜的配置管理中心</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>

<body>
<div class="login-container">
	$screen_placeholder
</div>
</body>
</html>
